* {
  margin: 0;
  padding: 0;
}

html, body, #container, #app {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: row;
}


/* Button styles */
.selectable:hover {
  background-color: #444444;
  cursor: pointer;
}

.control {
  background-color: #444444;
  border-right: 1px solid #666666;
}
.control:hover {
  background-color: #555555;
  cursor: pointer;
}
/* Button styles */


/* Side bar */
#side-bar {
  min-width: 15%;
  display: flex;
  flex-direction: column;
  background-color: #555555;
}

.active-opt {
  background-color: #333333;
  color: #8cf442;
}

#username-row {
  display: flex;
  flow-direction: row;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bold;
}

#logout-sett-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 40px;
}

#logout-btn {}

.tbl-option {
  border-bottom: 1px solid #444444;
}

#new-tbl-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

#tbl-list-col {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.tbl-btn-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
}
/* Side bar */


/* Work Space */
#work-space {
  width: 100%;
  overflow: hidden;
}
/* Work Space */


/* Table */
#table-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

#table-cont {
  flex-grow: 30;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.col {
  overflow: hidden;
  min-width: 70px;
  width: 100px;
}

.item-row {
  display: flex;
  flex-direction: row;
}

#table-header {
  flex-grow: 1;
  overflow: hidden;
  background-color: #444444;
  color: #ffffff;
}

#table-body {
  flex-grow: 20;
  overflow: auto;
  background-color: #eeeeee;
}
/* Table */


/* Controls */
#controls {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
#controls div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#controls div img {
  height: 32px;
}

#controls div img {
}

#new-item-cont {}

#new-field-form {
  display: flex;
  flex-direction: column;
}
#new-field-form .field-form-field {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  background-color: #222222;
}
#new-field-form div input,select {
  font-size: 10vh;
  width: 100%;
}
#new-field-type-cont {
  border-top: solid 1px #333333;
}

#new-field-yes-no {
  display: flex;
  flex-direction: row;
}
#new-field-yes-no div {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-right: solid 1px #666666;
}
/* Controls */


/* Mobile */
#hamburger {
  position: absolute;
  top: 8px;
  left: 2%;
  display: none;
}

@media screen and (max-width: 800px) {
  #hamburger {
    display: block;
  }

  #side-bar {
    display: none;
    max-width: 100%;
    width: 100%;
    overflow: auto;
  }
  #username {
    font-size: 4vh;
  }
  .tbl-list-div {
    font-size: 4vh;
  }

  #contents {
    max-width: 100%;
    width: 100%;
  }

  #tbl-ctrl-bar {
    position: absolute;
    bottom: 1px;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .tbl-item-row {
    width: 100%;
  }
  #tbl-fields-bar {
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
  }
}
