body {
  font-family: Helvetica;
  background-color: #333333;
  color: #ffffff;
}

a {
  color: #fff;
}
a:visited {
  color: inherit;
}

input,select {
  background-color: inherit;
  color: #fff;
  border: none;
}
input:focus {
  outline-width: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}
